- provide(:title, @user.name)
.row
  %aside.span4
    %section
      %h1
        //= gravatar_for @user
        = image_tag @user.image.to_s
        = @user.name
    %section
      = render 'shared/stats'
  .span8
    = render 'follow_form' if signed_in?
    - if @user.tasks.any?
      %h3
        Tasks (#{@user.tasks.count})
      %ol.tasks
        = render @tasks
      = will_paginate @tasks
