%p#notice= notice

%p
  %b プロジェクト名:
  = @project.name

= link_to '編集', edit_project_path(@project)
\|
= link_to '戻る', projects_path

= form_for @task, url: project_tasks_path(@project) do |f|
  .field
    = f.label :content
    = f.text_field :content
  .actions
    = f.submit '作成する', { class: "btn btn-large btn-primary" }

- if @feed_items.any?
  .table_container
    %table.table.table-striped.table-bordered{id: "task_table"}
      %tr
        %th.content
          = "内容"
        %th.planed_time
          = "予定工数"
        %th.status
          = "ステータス"
        - (@project.start_date..(@project.start_date + 20)).each do |d|
          %th
            = d.strftime("%m/%d")
        %th
      - @feed_items.each do |feed_item|
        %tr
          %td
            = link_to feed_item.content, edit_project_task_path(@project, feed_item)
          %td
            = feed_item.planed_time
          %td
            = feed_item.status_for_display
            - if feed_item.not_started?
              = link_to "開始", task_start_path(task_id: feed_item.id, project_id: @project.id), method: :start, class: "btn btn-primary btn-sm"
            - if feed_item.working?
              = link_to "完了", task_finish_path(task_id: feed_item.id, project_id: @project.id), method: :finish, class: "btn btn-primary btn-sm"
            = link_to "削除", project_task_path(task_id: feed_item.id, project_id: @project.id), method: :delete, data: { confirm: "削除しますか？" }, title: feed_item.content, class: "btn btn-primary btn-sm"
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
  = will_paginate @feed_items
          