%p#notice= notice

%p
  %b プロジェクト名:
  = @project.name

= link_to '編集', edit_project_path(@project)
\|
= link_to '戻る', projects_path

= form_for @task, url: project_tasks_path(@project) do |f|
  .field
    = f.label :content
    = f.text_field :content
  .actions
    = f.submit '作成する', { class: "btn btn-large btn-primary" }

- if @feed_items.any?
  %ol.tasks
    = render partial: 'shared/feed_item', collection: @feed_items
  = will_paginate @feed_items
